@model string
@{
    ViewData["Title"] = "Azure Blob Storage";
}
<h2>@ViewData["Title"]</h2>
<p>Upload image in blob storage.</p>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<fieldset class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2" for="Photo">Photo</label>
        <div class="col-md-10">
            <input type="file" name="photo" />
        </div>
    </div>
    <div class="form-group">
        &nbsp;
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn" />
        </div>

    </div>
</fieldset>
}

<h3>Latest Uploaded Image</h3>
<br />
<img src="@ViewBag.LatestImage" title="Latest Uploaded" />
